@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: white;
}

nav {
    position: sticky;
    top:0;
    background-color: hsl(138, 70%, 84%);
    color: hsl(220, 3%, 45%);
    border-style: double;
}

#logo {
    width: 120px;
}

#navigatie-dropdown {
    width: 30px;
    display: block;
}

#navigatie-dropdown:hover {
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container ul {
    display: none;
    list-style-type: none;
}

@media screen and (min-width: 645px) {
    #navigatie-dropdown {
        display: none;
    }

    .nav-container ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-basis: 750px;
    }

    li a {
        display: block;
        color: hsl(220, 3%, 45%);
        text-align: center;
        padding: 30px 16px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
    }

    li a:hover {
        background-color: hsl(138, 70%, 80%);
    }
}

h1  {
    margin-bottom: 20px;
    text-align: center;
}

header  {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.principles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.principle-article {
    background-color: hsl(138, 70%, 84%);
    border-radius: 15px;
    height: 550px;
    padding: 16px;
    margin: 16px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-size: 20px;
}

#delicious-food {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

#cozy-dinner    {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

#no-waste {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

@media screen and (min-width: 645px) {
    .principles {
        flex-wrap: nowrap;
    }
}
@media screen and (min-width: 1200px){
    .principles {
        justify-content: space-between;
    }
}