@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: white;
    color: hsl(220, 3%, 45%);
}

nav {
    background-color: hsl(138, 70%, 84%);
    color: hsl(220, 3%, 45%);
}

#login {
    width: 12px;
}

#navigatie-dropdown {
    width: 30px;
    display: block;
}

#navigatie-dropdown:hover {
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-container ul {
    display: none;
    list-style-type: none;
}

.logo-container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 3;
    width:100%;
}

#logo-homepage  {
    width: 600px;
}

.nav-bottom {
    background-color: white;
}
#img-nav-bottom {
    width: 100%;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

header h3 {
    margin-left: 200px;
    margin-right: 200px;
}
header {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ingredient-back {
    background-image: url("../assets/ingredients-background.jpg");
    padding-top: 75px;
    padding-bottom: 75px;

}

.principles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

article{
    border:solid 1px hsl(220, 3%, 45%);
    box-shadow: 10px 10px 5px grey;
}

.principle-article {
    background-color: hsl(138, 70%, 84%);
    border-radius: 15px;
    height: 550px;
    padding: 16px;
    margin: 16px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#delicious-food {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

#cozy-dinner {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

#no-waste {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}
p {
    font-size: large;
    font-weight: bold;
    text-align: left;
}

.intro-vid {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.video-container    {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

iframe  {
    box-shadow: 10px 10px 5px grey;
}
/*footer nog vast aan het einde van de pagina maken*/
footer {
    background-color: hsl(138, 70%, 84%);
    color: hsl(220, 3%, 45%);
    border-style: double;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.footer-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 300px;
}

.footer-container ul li a {
    display: block;
    color: hsl(220, 3%, 45%);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 15px;
}

@media screen and (min-width: 645px) {
    #navigatie-dropdown {
        display: none;
    }

    .nav-container ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 750px;
    }

    .nav-container ul li a {
        display: block;
        color: hsl(220, 3%, 45%);
        text-align: center;
        padding: 40px 40px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
    }

    li a:hover {
        background-color: hsl(138, 70%, 80%);}

    .principles {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    .principles {
        justify-content: space-between;
    }
}