@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: white;
    color: hsl(220, 3%, 45%)
}

nav {
    position: sticky;
    top: 0;
    background-color: hsl(138, 70%, 84%);
    color: hsl(220, 3%, 45%);
    border-style: double;
    margin-bottom: 50px;
}

#logo {
    width: 120px;
}

#login {
    width: 12px;
}

#navigatie-dropdown {
    width: 30px;
    display: block;
}

#navigatie-dropdown:hover {
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container ul {
    display: none;
    list-style-type: none;
}

main    {
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    margin: auto;
    width: 450px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 20px;
}
#login-logo{
    width: 120px;
    border-radius: 60px;
}

footer {
    background-color: hsl(138, 70%, 84%);
    color: hsl(220, 3%, 45%);
    border-style: double;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.footer-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 300px;
}

.footer-container ul li a {
    display: block;
    color: hsl(220, 3%, 45%);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 15px;
}

.active{
    border: 2px solid hsl(138, 70%, 75%);
}

@media screen and (min-width: 645px) {
    #navigatie-dropdown {
        display: none;
    }

    .nav-container ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 750px;
    }

    .nav-container ul li a {
        display: block;
        color: hsl(220, 3%, 45%);
        text-align: center;
        padding: 40px 40px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
    }

    li a:hover {
        background-color: hsl(138, 70%, 80%);
    }
}