@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --voediemealgreen: hsl(138, 70%, 84%);
    --voediemealgrey: hsl(220, 3%, 45%);
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: white;
    color: hsl(220, 3%, 45%)
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--voediemealgreen);
    color: var(--voediemealgrey);
    border-style: double;
}

#logo {
    width: 120px;
}

#login {
    width: 12px;
}

#navigatie-dropdown {
    width: 30px;
    display: block;
}

#navigatie-dropdown:hover {
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container ul {
    display: none;
    list-style-type: none;
}

h2 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 10px;
}

p {
    padding: 50px;
    margin-bottom: 75px;
}

.outer-container1 {
    display: flex;
    flex-direction: row;
    height: auto;
}
 .about-us {
     display: inline-block;
     width: 50%;
     border: solid 1px black;
 }

.background-container1 {
    display: inline-block;
    width: 50%;
    background-image: url('../assets/ingredients-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px black;
}

.outer-container2 {
    display: flex;
    height: auto;
    flex-direction: row;
}

.why-voediemeals {
    display: inline-block;
    width: 50%;
    border: solid 1px black;
}

.background-container2 {
    display: inline-block;
    width: 50%;
    background-image: url('../assets/ingredients-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px black;
}

footer {
    background-color: var(--voediemealgreen);
    color: var(--voediemealgrey);
    border-style: double;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.footer-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 300px;
}

.footer-container ul li a {
    display: block;
    color: var(--voediemealgrey);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 6px;
}

.active {
    border: 2px solid hsl(138, 70%, 75%);
}

@media screen and (min-width: 768pxpx) {
    #navigatie-dropdown {
        display: none;
    }

    .nav-container ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 750px;
    }

    .nav-container ul li a {
        display: block;
        color: var(--voediemealgrey);
        text-align: center;
        padding: 40px 40px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
    }

    li a:hover {
        background-color: hsl(138, 70%, 80%);
    }
}